body {
    background-color: #F8F9FA;
    color: #212529;
    font-family: 'Roboto', sans-serif;
}

.card {
    margin: 10px 0;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
}

.card-title {
    font-weight: bold;
    font-size: 1.2em;
    color: #007BFF;
}

.card-text {
    font-size: 1.5em;
    color: #333333;
}

.card-body {
    padding: 20px;
}

h1, h4 {
    color: #212529;
}

.text-center {
    text-align: center;
}

.filter-container {
    margin-bottom: 20px;
}

.filter-title {
    margin-bottom: 10px;
}

.filter-dropdown {
    margin-bottom: 10px;
}
